// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
  background-color: #3379B7;
  color: white;
  height: 25px;
  width: 50px;
}

.question{
  height: 25px;
  width: 400px;
}
